<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <ul>
        <% for (let habit of habits){ %>
            <l1>
                <%= habit.habit %>
                <button class="delete" data-reward="<%= habit.reward%>" data-name="<%= habit._id %>">delete</button>
            </l1>
            <% } %>

    </ul>

</body>
<script src="edit-habits.js"></script>

</html>