@import "bourbon";



h1{
  padding: 0 20px;
  color: #FFFFFF;
  text-shadow: 1px 1px #105B63, 2px 2px #105B63, 3px 3px #105B63, 4px 4px #105B63;
  text-transform: uppercase;
  text-align: center;
}
section{
  @include transition(all .3s ease-in-out);
  float: left;
  max-height: 30px;
  overflow: hidden;
  width: 200px;
  margin: 20px;
  box-shadow: 0 0 5px #000;
  
  &.expanded{
    max-height: 200px;
  }
}

dt{  
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
  background: #105B63;
  padding: 5px 10px;
  position: relative;
  cursor: pointer;
}

dd{
  background: #FFF;
  color: #105B63;
  margin: 0;
  padding: 5px 15px;
}

.x-out dt{
  &::after, &::before{
    @include transition(all .4s linear);
    content: "";
    width: 2px;
    height: 15px;
    background: #FFD34E;
    position: absolute;
    right: 10px;
    top: 7.5px;
  }
  &::after, &::before{
    @include transition(all .4s linear);
    content: "";
    width: 2px;
    height: 15px;
    background: #FFD34E;
    position: absolute;
    right: 10px;
    top: 7.5px;
  }
  
  &::after{
    @include transform(rotate(45deg));
  }
  
   &::before{
      @include transform(translateX(-10px) rotate(-45deg));
    }
  
  &.open{
     &::before{
    @include transform( translateX(-5px) rotate(-45deg));

  }
           &::after{
         @include transform(translateX(-5px) rotate(45deg));
       }
  }
}
